{% extends 'base.html' %}
{% block title %}View Post{% endblock %}



{% block content %}

<div class = "blog-content">
    <a href="/posts/{{post.id}}/edit" class="user-options button">edit</a>
    
    <h1>{{post.title}}</h1>
    <h3>posted on {{post.created_at}} by {{post.user.get_full_name}}</h3>
    <pre>{{post.content}}</pre>
    <br>
    <span>Tagged with: </span>
    {% for tag in post.tags %}
    
    <a href="/tags/{{tag.id}}" class="tag">{{tag.tag_name}}</a>
    
    {% endfor %}
    
    


</div>


{% endblock %}