{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}



{% block content %}

<h1>Edit user {{user.get_full_name()}}</h1>

<form action="/users/{{user.id}}/edit" method="post">
    <input type="text" placeholder="first name" name="first_name" value = "{{user.first_name}}" required>
    <input type="text" placeholder="last name" name="last_name" value = "{{user.last_name}}" required>
    <input type="text" placeholder="profile photo" name="image_url" value = "{{user.image_url}}" required>
    <button>Submit</button>
</form>


{% endblock %}